.navbar{
    height: 50px;
    background-color: rgb(199, 30, 30);
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 900;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:  lightcoral;
}